In [5]:
import pandas as pd
from sklearn.preprocessing import MinMaxScaler

In [7]:
data = {'Feature 1': [1, 5, 10, 4, 5],
        'Feature 2': [6, 7, 8, 19, 10]}
data

{'Feature 1': [1, 5, 10, 4, 5], 'Feature 2': [6, 7, 8, 19, 10]}

In [11]:
df = pd.DataFrame(data)
df

   Feature 1  Feature 2
0          1          6
1          5          7
2         10          8
3          4         19
4          5         10

In [15]:
scaleer = MinMaxScaler()
scaler_data = scaleer.fit_transform(df)

In [29]:
scaler_df = pd.DataFrame(scaler_data, columns=df.columns)
scaler_df

   Feature 1  Feature 2
0   0.000000   0.000000
1   0.444444   0.076923
2   1.000000   0.153846
3   0.333333   1.000000
4   0.444444   0.307692