In [1]:
import pandas as pd
from sklearn.preprocessing import StandardScaler

In [3]:
data = {'feature 1': [1, 20, 3, 40, 5],
        'feature 2': [6, 7, 18, 19, 10]}

In [5]:
data

{'feature 1': [1, 20, 3, 40, 5], 'feature 2': [6, 7, 18, 19, 10]}

In [9]:
df = pd.DataFrame(data)
df

   feature 1  feature 2
0          1          6
1         20          7
2          3         18
3         40         19
4          5         10

In [13]:
scaller = StandardScaler()
std_scaller = scaller.fit_transform(df)
std_scaller_frame = pd.DataFrame(std_scaller, columns = df.columns)

In [15]:
std_scaller_frame

   feature 1  feature 2
0  -0.869803  -1.095445
1   0.421311  -0.912871
2  -0.733896   1.095445
3   1.780378   1.278019
4  -0.597989  -0.365148